/* 1. すべての要素の不要な余白を完全にリセット（一番上に記述） */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 標準フォント指定 */
@font-face {
  font-family: "mainFont";
  src: url("main.woff2") format("woff2");
}

/* 画面全体のベース */
html, body {
  width: 100%;
  overflow-x: hidden; /* 横スクロールバーの発生を防ぐ */
}

body {
  font-family: "mainFont";
  background-color: #f0f0f0;
}

/* 黒い直方体（バナー） */
.banner {
  display: flex;
  height: 80px;
  background-color: #141414;
  border-bottom: 3px solid #ededed;
  box-sizing: border-box;
  font-family: "mainFont";
  font-size: 30px;
  color: #ffffff;
  padding: 5px 50%;
}

/* ボタン */
.btn {
  position: absolute;
  top: 18px;
  right: 100px;
  display: inline-block;
  text-decoration: none;
  font-family: "mainFont";
  padding: 12px 24px;
  background-color: #0095ff00;
  color: #ffffff;
  border-radius: 4px;
  transition: 0.3s;
}
